
body {
  /* layout   */
  display: grid;
  grid-template-areas: 
    "nav header"
    "nav main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  margin: 0;
  /* font */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.logo-image {
    width: 125px;
    height: 25px;
}

.navigation {
  grid-area: nav;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.header {
  grid-area: header;
  padding-left: 24px;
  border-bottom: 1px solid #ddd;
  
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.main-background {

}

.column {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

